<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>100Devs Catchup Crew Progress Tracker</title>
  </head>
  <body>
    <header>
      <h1 class="flow-text center-align">100Devs Catchup Crew Progress Tracker</h1>
    <nav>
      <div class="nav-wrapper indigo lighten-1">
        <ul id="nav-mobile" class="flex-row">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/assignments">Assignments</a></li>
          <li><a href="/classes">Classes</a></li>
        </ul>
      </div>
    </nav>
    </header>
    <div class="container">
      <h2 class="flow-text center-align">Assignments</h2>
       <!-- Display Assignments -->
      <table class="striped centered">
        <thead>
            <tr>
                <th class="bordered">Due Date</th>
                <th class="bordered">Assignment</th>
                <th class="bordered">Completed</th>
            </tr>
        </thead>
        <tbody>
            <% assignments.forEach(assignment => { %>
                <tr>
                    <td><%= assignment.due %></td>
                    <td>
                      <a href="<%= assignment.source %>" target="_blank">
                        <%= assignment.assignment %>
                      </a>
                    </td>
                    <td style="cursor:pointer;" data-id="<%= assignment.$id %>" data-completed="<%= assignment.completed %>" class="completed-cell <%= assignment.completed === 'false' ? 'red lighten-3' : 'green lighten-3' %>">
                      <span>
                        <% if(assignment.completed === 'true') { %>
                          <i class="fa-solid fa-check fa-lg"></i>
                        <% } else { %>
                          <i class="fa-solid fa-x fa-lg"></i>
                        <% } %>
                      </span>
                    </td>                    
                </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
    <footer class="container center-align">
      <div style="margin: 20px 0 10px 0;">
        <a href="https://github.com/raisa-d" target="_blank" style="margin: 0 5px;">
          <i class="fa-brands fa-github fa-2xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/raisa-d" target="_blank" style="margin: 0 5px;">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href="https://bsky.app/profile/rai-bread.bsky.social" target="_blank" style="margin: 0 5px;">
          <i class="fa-brands fa-bluesky fa-2xl"></i>
        </a>
      </div>
      <p>&copy; <a href="https://raisadorzback.netlify.app/" target="_blank">
        Rai Dorzback
      </a></p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="module" src="/main.js"></script>
  </body>
</html>
