<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>100Devs Catchup Crew Progress Tracker</title>
  </head>
  <body>
    <header>
      <h1 class="flow-text center-align">100Devs Catchup Crew Progress Tracker</h1>
    <nav>
      <div class="nav-wrapper indigo lighten-1">
        <ul id="nav-mobile" class="flex-row">
          <li class="active"><a href="/">Home</a></li>
          <li style="list-style-type: circle;"><a href="/assignments">Assignments</a></li>
          <li style="list-style-type: circle;"><a href="/classes">Classes</a></li>
        </ul>
      </div>
    </nav>
    </header>
    <div class="container">
      <section>
        <section class="center-align">
          <h2 style="font-size: 20px;">Welcome #100Devs Catchup Crew! It can be hard to stay organized and get an overview of your progress & timeline through the program. This tool is to help you stay on top of everything!</h2>
          <section style="font-size: 16px;">
            <p>Get an overview of the upcoming classes and assignments on the Homepage. Update & look at when you watched each class in <a href="/classes">Classes</a>. See all of the assignments in the course in the <a href="/assignments">Assignments</a> tab.</p>
          </section>
        </section>
        <p style="font-weight:bold;">What you can look forward to in future versions:</p>
        <ul style="margin-left: 10px;">
          <li style="list-style-type: circle;">User authentication (Email & OAuth)</li>
          <li style="list-style-type: circle;">Rollover homework section on the Home page</li>
          <li style="list-style-type: circle;">Column to write your personal notes next to classes/assignments</li>
          <li style="list-style-type: circle;">Edit assignment names</li>
          <li style="list-style-type: circle;">Scheduling feature so you can plan when you'll watch each class</li>
          <li style="list-style-type: circle;">Networking page to track your coffee chats</li>
          <li style="list-style-type: circle;">Resources tab (preloaded with #100Devs resources) that users can add to</li>
        </ul>
        <h2 class="flow-text center-align">Assignments Due</h2>
        <table class="striped centered">
          <thead>
              <tr>
                  <th>Due Date</th>
                  <th>Assignment</th>
                  <th>Completed</th>
              </tr>
          </thead>
          <tbody>
              <% assignments.forEach(assignment => { %>
                  <tr>
                      <td><%= assignment.due %></td>
                      <td>
                        <a href="<%= assignment.source %>" target="_blank">
                          <%= assignment.assignment %>
                        </a>
                      </td>
                      <td style="cursor:pointer;" data-id="<%= assignment.$id %>" data-completed="<%= assignment.completed %>" class="completed-cell <%= assignment.completed === 'false' ? 'red lighten-3' : 'green lighten-3' %>">
                        <span>
                          <% if(assignment.completed === 'true') { %>
                            <i class="fa-solid fa-check fa-lg"></i>
                          <% } else { %>
                            <i class="fa-solid fa-x fa-lg"></i>
                          <% } %>
                        </span>
                      </td>                    
                  </tr>
              <% }) %>
          </tbody>
      </table>
      </section>
      <section>
        <h2 class="flow-text center-align">Upcoming Classes</h2>
        <p class="center-align"><%= classesLeft %> classes left!</p>
        <table class="striped centered">
          <thead>
              <tr>
                <th>Class</th>
                <th>Date Completed</th>
              </tr>
          </thead>
          <tbody>
            <% classes.forEach(c => { %>
              <tr>
                  <td><%= c['class-number'] %></td>
                  <td data-class-id="<%= c['class-id'] %>" class="<%= c['date-watched'] ? 'green lighten-4' : 'red lighten-4' %>">
                    <form action="/update/class-date/<%= c.$id %>" method="POST" class="date-form">
                      <input type="date" name="date-watched" value="<%= c['date-watched'] ? new Date(c['date-watched']).toISOString().split('T')[0] : '' %>" required />
                      <button type="submit">Save</button>
                    </form>
                  </td>                  
              </tr>
          <% }) %>
          </tbody>
        </table>
      </section>
    </div>
    <footer class="container center-align">
      <div style="margin: 20px 0 10px 0;">
        <a href="https://github.com/raisa-d" target="_blank" style="margin: 0 5px;">
          <i class="fa-brands fa-github fa-2xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/raisa-d" target="_blank" style="margin: 0 5px;">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href="https://bsky.app/profile/rai-bread.bsky.social" target="_blank" style="margin: 0 5px;">
          <i class="fa-brands fa-bluesky fa-2xl"></i>
        </a>
      </div>
      <p>&copy; <a href="https://raisadorzback.netlify.app/" target="_blank">
        Rai Dorzback
      </a></p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="module" src="/main.js"></script>
  </body>
</html>
