<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>100Devs Catchup Crew Progress Tracker</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1 class="flow-text center-align">100Devs Catchup Crew Progress Tracker</h1>
    <nav>
      <div class="nav-wrapper indigo lighten-1">
        <ul id="nav-mobile" class="flex-row">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Assignments</a></li>
          <li><a href="#">Classes</a></li>
        </ul>
      </div>
    </nav>
    </header>
    <div class="container">
       <!-- Display Assignments -->
      <table class="striped centered">
        <caption>Assignments</caption>
        <thead>
            <tr>
                <th class="bordered">Due Date</th>
                <th class="bordered">Assignment</th>
                <th class="bordered">Completed</th>
            </tr>
        </thead>
        <tbody>
            <% assignments.forEach(assignment => { %>
                <tr>
                    <td><%= assignment.due %></td>
                    <td>
                      <a href="<%= assignment.source %>" target="_blank">
                        <%= assignment.assignment %>
                      </a>
                    </td>
                    <td class="completed-cell pointer <%= assignment.completed === 'false' ? 'red lighten-3' : 'green lighten-3' %>">
                      <span>
                        <% if(assignment.completed === 'true') { %>
                        <i class="fa-solid fa-check fa-lg"></i>
                        <% } else { %>
                          <i class="fa-solid fa-x fa-lg"></i>
                        <% } %>
                      </span>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

       <!-- Display Classes -->
      <table class="striped centered">
        <caption>Classes</caption>
        <thead>
            <tr>
              <th class="bordered">Class</th>
              <th class="bordered">Date Completed</th>
            </tr>
        </thead>
        <tbody>
            <% classes.forEach(c => { %>
                <tr>
                    <td><%= c['class-number'] %></td>
                    <td><%= c['date-watched'] || 'TBD' %></td>
                </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/src/main.js"></script>
  </body>
</html>
